@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
.margin
{
    margin:20px;
}

.colorBlue
{color:#0065fc}

.colorGrey
{color:#f2f2f2}

li{
    list-style: none;
}
body
{
    font-family: Raleway;
    
   
}
a{
    text-decoration: none;
    color:black;
}

#logo
{   display: flex;
    width:100px;
    height:50px;
    margin-left:20px;
    margin-top:50px;
    position: absolute;
    left:20px;
    top:0px;
    
    }

header
{
    display: flex;
    width: 100%;
}
header nav
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right:50px;
    width:100%;
}

#herbergment
{
color: #0065fc;
}
#inscription
{
  color: #0065fc;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 75px;
  font-weight: bolder;;
}

header ul
{
    align-content: flex-end;
}
#menuentete
{
   
    display: flex;
    align-items: center;
    margin-right:100px;
    height:75px;
    margin:20px;
  
}
.a
    {
        
    margin-left:20px;
     padding-left:20px;
    }
#intro
{
        margin-left:20px;
    }
    strong
    {
        font-weight: bolder;
    }
    #bouttonrecherche
    {
        display: flex;
        /* justify-content: space-around; */
        width:425px;
        height:50px;
        border-radius: 15px;
        margin:20px;
        /* border-top:1px solid #f2f2f2;
        border-bottom:1px solid #f2f2f2; */
        padding:0px;

               
    }
    .boutonmap
    {   display: flex;
        align-items: center;
        justify-content: center;
        background-color: #DEEBFF;
        width:50px;
        height:50px;
        background-color: #f2f2f2;
        border-radius: 15px 0px 0px 15px;
        margin:0px;
        z-index: 1;
       
    }
    #bouttonrecherche input
    {
        border: none;
        height:50px;
        width:230px;
        font-weight: bold;
        font-size:1.2em;    
        font-family: Raleway;
        margin:0px;
        border-top:1px solid #f2f2f2;
        border-bottom:1px solid #f2f2f2;
    }

    #bouttonrecherche button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height:50px;
        width:130px;
        background-color: #0065FC;
        border:none;
        color:white;
        border-radius: 0px 15px 15px 0px;
        font-family: Raleway;
        font-size: 1.2em;
        font-weight: bold;
        margin:0px;
        z-index: 1;
    }
.loupei
{visibility: hidden;}
 #filtres ul :hover
{
    box-shadow: 5px 5px 15px 5px #000000;
}
#flitres li :hover{
    box-shadow: none;
}
#filtres i :hover{
    box-shadow: none;
}
#filtres ul
{display:flex;
justify-content: space-between;
width:65%
}
#filtres li
{
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid #f2f2f2 2px;
    border-radius:25px;
    height:50px;
}
#filtres i
{
 background-color: #0065FC;
 color:#f2f2f2;
 border-radius:25px;
 width:52px;
 height: 52px;
 z-index: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}
#filtres h4{
    font-weight: bold;
    margin:10px;
}
#info
{
    margin:20px;
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
#info i
{   
    height: 20px;
    width: 20px;
    color:#0065fc;
    margin-left:5px;
    border:2px solid #f2f2f2;
    border-radius: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
main
{
    display: flex;
    align-content: space-around;
    margin:50px;
}
#Herbergements
{
    width:66%;
    background-color: #f2f2f2;
    border-radius:25px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}
#Herbergements h2
{
    display: inline-block;
    width:100%;
    margin-left: 40px;
   
    
}
#Herbergements div
{   display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 245px;
    margin-top:20px;
    height: 200px;
    z-index: 2;
    padding:5px;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.39);

}
#Herbergements img
{
    width:235px;
    height:115px;
    display: flex;
    align-items: center;
    justify-items: center;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    z-index: 1;
}
#Herbergements p
{
    margin-top:5px;
    margin-left:5px;;
    align-items: center;
}
#Herbergements h4
{
    display: inline-block;
    width:100%;
    align-items: center;
    justify-content: flex-start;
}
#pop
{   margin:0px 40px 0px 40px;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius:25px;
    padding-top:40px;
}
#headerpop
{   display: flex;
    width:82%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left:40px;
    margin-right: 40px;

}
#pop div
{
    background-color: white;
    width: 82%;
    height:145px;
    display: flex;
    align-content: space-between;
    margin:0px 20px 20px 20px;
    border-radius: 25px;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.39);
    }
#pop img
{
    width:125px;
    height:135px;
    object-fit: cover;
    padding:5px;
    border-radius:25px 0px 0px 25px;
    float:left;
}
#pop p:nth-child(2)
{
    display:inline-block;
    vertical-align: top;
    margin-left:20px;
    margin-bottom:20px;
    position: absolute;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-between ;
    width:135px;
}
#pop p:nth-child(3)
{
    display:inline-block;
    vertical-align: top;
    margin-left:20px;
    margin-top:100px;
    position: absolute;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-between ;
    width:65%;
}
/* .notation
{
     vertical-align: bottom;
} */
.iconwidth
{
    width: 20px;
    height:auto;
}
#activités
{
    
    width:100%;
    
    
   
    
}

#activités h2
{
    width: 100%;
    display: inline-block;
    align-content: flex-start;
   
}
#activités div
{
    height:580px;
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}
 #activités article
{
    
   
    margin-left:20px
 }
 
.grandecolonne
{
   
   width:25%
}
.petitecolonne
{
   
    width:25%;
}
.margintop
{
    margin-top:20px;
}
#activités img
{
    display: flex;
    width:300px;
    object-fit: cover;
    align-items: center;
    border-radius: 25px 25px 0px 0px;;
    
}
#activités p
{
    width: 300px;
    height:55px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.39);
    margin-top:0px;
}


/*balises images*/

.fortpaumegues
{
    height:180px;
   
}
.ilesfrioul
{
    height: 110px;
}
.Grandeimage
{
    height:390px
}
.NDdelaGarde
{
    height:140px;
}
.Parclongchamp
{
    height:150px
}
/*footer*/
footer{
    background-color: #f2f2f2;
}
footer nav{
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    
}
footer ul
{
    display: inline-block;
    flex-direction: column;
    align-items: baseline;
    width:20%;
}
/*media queries*/
/*basse resolution écran pc*/
@media screen and (min-width: 769px) and (max-width: 1024px)
{
    body
    {
        width: 100%;
    }
   main 
   {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;

   }
   #pop
   {
    order: 1;   
    flex-direction: row;
       width:100%;
       margin-top:40px;
       padding:20px;

   }
   #pop div
   {
       flex-direction: row;
       justify-content: space-between;
       width:290px;
       
   }
    #Herbergements
    {
        order:2;
        width:100%;
        margin-top:40px;
    }
    #activités
    {
        flex-wrap: wrap;
        height: auto;
        width:25%;
    }

    #activités div
    {
        height:auto;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #activités article
    {
        justify-content: space-between;
    }
}
    
   /*tablettes et mode paysage*/
@media screen and (min-width:481px) and (max-width:768px)
{
    body 
    {
        
     margin:0px;
    width:100%;
    }

   main 
   {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;

   }
   #pop
   {
    order: 1;   
    flex-direction: row;
    width:100%;
    margin-top:40px;
    padding:20px;

   }
   #pop div
   {
       flex-direction: row;
       justify-content: space-between;
       width:290px;
       
   }
    #Herbergements
    {
        order:2;
        width:100%;
        margin-top:40px;
        
    }
    #activités
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        flex-direction: row;

   
    }
    #activités div{
        width:100%;
        height: auto;
        margin:0px;
    }
    #activités article
    {
        height:190px;
        width:75%;
        margin:20px 0px 20px 0px;
        
    }
    #activités img
    {
       
        height:135px;
        

    }
    
}


/*mobile mode portrait*/
@media screen and (max-width: 480px) 
{   
    body
    {margin:0px;
        width:100%;
        
    }
    #corpsdepage
    {width: 100%;}
    header nav
    {
       flex-wrap: no-wrap;
       justify-content: space-between;    }
    #logo
    {
        margin: 0px;
        width: 26%;
        height: auto;
        position: absolute;
        left:20px;
        

        
           }
   
    #inscription
    {
    position:absolute;
    top:0px;
    right:20px;
     
    
    }

    #LienHerbergement
    {
        position: absolute;
        top:100px;
        left:35px;
               
    }
    #Lienactivités
    {
        position: absolute;
        top:100px;
        right:60px; 
    }
    
    #bordurebleue50
    {   position:absolute;
        width: 50%;
        top:130px;
        left:0px;
        border-top:3px solid #0065FC;
       
       
    }
    #boduregrise50
    {   position:absolute;
        top:130px;
        right: 0px;
        width:50%;
        border-top:3px solid #f2f2f2;
        
    }
    #intro
    {
        text-align: justify;
        width:80%;
        max-width: 100%;
        margin-top: 40px;
    }
    #intro strong
    {width:100%;
        font-size: 1.2em;
        font-weight: bolder;
        
    }
    #bouttonrecherche
    {   display: flex;
         }
    .boutonmap
    {
        width:15%;
    }
    #bouttonrecherche button  
    {
        display:none;
    }
    #champderecherche
    {
        width:70%;
    }
    .loupei
    {visibility: visible;
        display:flex;
        align-items: center;
        justify-content: center;
        height:50px;
        width:50px;
        background-color: #0065FC;
        border:none;
        color:white;
        border-radius: 15px 15px 15px 15px;
        font-size: 1.2em;
        margin:0px;
        z-index: 1;
        position:absolute;
        right:60px;}
    #filtres
    {
        /* flex-wrap: wrap; */
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        align-content:space-between;
        
    }
    #filtres ul
    {
        flex-wrap: wrap;
        width: 85%;
        margin:15px;
        padding: 0px;
    }
    #filtres li
    {
        margin:15px;
    }
    #filtres h4 
    {
        width:100%;
    }
    main 
    {
        flex-direction: column;
        margin:0px;
        padding:0px;
    }
    #Herbergements
    {
        order:2;
        width:100%;
        max-width: 100%;
        min-width: 100%;
        background-color: white;
        margin:0px;
        padding:0px;
        justify-content: center;
    }
    #Herbergements div
    {
        height:200px;
        width: 325px;
        
        
    }
    #Herbergements img 
    {
        width:320px;
        height:110px;
    }
    #pop
    {
        order:1;
        width:100%;
        align-content: space-between;
        justify-content: start;
        margin:0px;
    }
    #pop img
    {
        width:120px;
        height: 135px;
    }
    #pop div
    {
        width:100%;
    }
    #pop p
    {
        flex-wrap: wrap;
    }
    #activités
    {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;

   
    }
    #activités div{
        height:auto;
    }
    #activités article
    {
        height:190px;
        width:100%;
        margin:20px 0px 20px 0px;
        
    }
    #activités img
    {
        width:100%;
        height:135px;
        

    }
    #activités p
    {
        width:100%;
    }
    footer
    {   display: flex;
        
        flex-wrap: wrap;
    }
    footer nav
        {
        display: flex;
        flex-direction: column;
        width: 100%;
        }
        footer ul
        {
            width:100%;
        }

}